package views

import "jamfu/repo"

templ Song(song *repo.Song) {
	@BaseLayout() {
		<div>
			<h1>{ song.Title }</h1>
			<em>{ song.Genre }</em>
			<div id="container"></div>
			<button id="play">Play</button>
			<div id="mixer" style="padding: 10px"></div>
			<!-- pass data to client -->
			@templ.JSONScript("SongData", song)
			<script src="/client/player.js"></script>
		</div>
	}
}
